@import "tailwindcss";

.great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-glitch {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}


.tilt-prism {
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}


.tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playwrite-us-trad-guides {
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik-doodle-shadow {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.iceberg {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.architects-daughter {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */

  &::-webkit-scrollbar {
    display: none;           /* Chrome, Safari */
  }
}